@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

html, body, [class*="css"] {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #1a1919;

}

div[class*="appview-container"] section div[class*="block-container"][class*="css"] {
    padding-top: 1rem;
}

h1 div span[class*="css"] {
    font-size: 2em;
    font-weight: 700;
    width: 80%;
    /* text-align: center; */
}

h2 div span[class*="css"] {
    line-height: 1.5;
    font-size: 1.33em;
    font-weight: 600;
}

h3 div span[class*="css"] {
    line-height: 1.2;
    font-size: 1.33em;
    font-weight: 600;
}

div[class*="css"] a {
    color: #e39b33;
    font-weight: 400;
    text-decoration: none;
}

label[data-testid="stMetricLabel"] div[data-testid="stMarkdownContainer"] p {
    font-size: .95em;
    font-weight: 500;
}

div[data-testid="stMetricValue"] div[class*="css"] {
    font-size: 1.75em;
    font-weight: 200;
}

div[data-testid="stMarkdownContainer"] hr {
    border-top: 2px solid #e39b33;

}

div[data-testid="stHorizontalBlock"] div[data-testid="column"] {
    /* border: 2px solid black; */
    /* padding: 20px; */
    text-align: center;
    grid-template-columns: auto;
}
div[data-testid="stHorizontalBlock"] div[data-testid="column"] label{
    text-align: center;
    grid-template-columns: auto;
}
.stButton>button {
  border: none !important;
  /* give it a transparent background-color */
  background-color: transparent !important;
  /* on hover, add underline to text */
}

.stButton>button:hover {
  text-decoration: underline !important;
  /* make sure underline is black */
  text-decoration-color: black !important;
}

a.click-button {
  color: black;
  text-decoration: none;
}
p > a.click-button:hover, a.click-button:visited {
  color: black;
  text-decoration: line;
  text-decoration-color: black;
}