@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap'); 

html, body, [class*="css"] {
    font-family: 'Josefin Sans', sans-serif; 
    font-size: 18px;
    font-weight: 500;
    color: #1a1919;
}