@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

html, body, [class*="css"] {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #1a1919;

}

div[class*="appview-container"] section div[class*="block-container"][class*="css"] {
    padding-top: 1rem;
}

h1 div span[class*="css"] {
    font-size: 2em;
    font-weight: 700;
    width: 80%;
    /* text-align: center; */
}

h2 div span[class*="css"] {
    line-height: 1.5;
    font-size: 1.33em;
    font-weight: 600;
}

h3 div span[class*="css"] {
    line-height: 1.2;
    font-size: 1.33em;
    font-weight: 600;
}

div[class*="css"] a {
    color: #e39b33;
    font-weight: 400;
    text-decoration: none;
}

label[data-testid="stMetricLabel"] div[data-testid="stMarkdownContainer"] p {
    font-size: .95em;
    font-weight: 500;
}

div[data-testid="stMetricValue"] div[class*="css"] {
    font-size: 1.75em;
    font-weight: 200;
}

div[data-testid="stMarkdownContainer"] hr {
    border-top: 2px solid #e39b33;

}

div[data-testid="stHorizontalBlock"] div[data-testid="column"] button{
  border: 2px solid black;
  margin: 0 auto;
    color: #e39b33 !important;
}
div[data-testid="stHorizontalBlock"] div[data-testid="column"] button:visited {
  border: 2px solid black;
  margin: 0 auto;
  text-decoration: none !important;
}
div[data-testid="stHorizontalBlock"] div[data-testid="column"] button:hover{
  border: 2px solid black;
  margin: 0 auto;
  text-decoration: none !important;
}
div[data-testid="stHorizontalBlock"] div[data-testid="column"] {
    text-align: center;
    grid-template-columns: auto;
}
div[data-testid="stHorizontalBlock"] div[data-testid="column"] label{
    text-align: center;
    grid-template-columns: auto;
}
.stButton>button, .stDownloadButton>button {
  background-color: transparent !important;
    color: #e39b33 !important;
}

.stDownloadButton>button:hover, .stButton>button:hover {
  text-decoration: underline !important;
  /* make sure underline is black */
  text-decoration-color: black !important;
}

a.click-button {
  color: black !important;
  text-decoration: none;
}
p > a.click-button:hover, a.click-button:visited {
  color: black;
  text-decoration: line;
  text-decoration-color: black;
}
a.click-button.button{
  border: 2px solid black;
  color: black !important;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
}
p > a.click-button.button:hover, a.click-button.button:visited {
  color: black;
  text-decoration: line;
  text-decoration-color: black;
}

div[data-testid="stVerticalBlock"] > div[data-testid="stHorizontalBlock"].css-ocqkz7 {
  display: flex;
  flex-direction: row;
  align-items: center !important;
}
div[data-testid="stVerticalBlock"] > div[data-testid="stHorizontalBlock"].css-ocqkz7 p {
  margin-top: 0 !important;
}